*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.desktop-image {
  display: block; /* Display the desktop image by default */
}

/* CSS for Mobile */
@media (max-width: 767px) {
  .desktop-image {
      display: none; /* Hide the desktop image on mobile */
  }

  .mobile-image {
      display: block; /* Display the mobile image on mobile screens */
  }
}


nav {
  text-decoration: none;
  list-style: none;
  height: 85px;
  width: 100%;
  background: #d95a31;
  position: sticky;
  top: 0;
  z-index: 100;
}

label.logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}

nav ul{
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
  text-decoration: none;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 7px 10px;
  border-radius: 3px;
}

a.active,a:hover {
  color: white; 
  position: relative;
  text-decoration: none !important;
  transition: .5s;
}

a.active::after,
nav a:hover::after {
  content: "";
  position: absolute;
  bottom: -4px; /* Adjust the distance of the underline from text */
  left: 0;
  width: 100%;
  height: 4px; /* Adjust the thickness of the underline */
  background-color: #483285; /* Set the color of the underline */
  transition: .5s;
}

/* Optional: Change the underline color on hover */
nav a:hover::after {
  background-color:#483285; /* Change to your desired hover color */
}

nav #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  z-index: 101;
}

@media (max-width: 1048px) {
  label.logo{
    font-size: 32px;
    padding-left: 60px;
  } 
  nav ul {
    margin-right: 20px;

  }
  nav a{
    font-size: 17px;
  }
}

@media (max-width: 1300px) {
  nav #icon {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2f3640;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a{
    font-size: 20px;
  }
  a.active,a:hover {
    border: none;
    color: #3498db;

  }
  nav ul.show{
    left: 0;
  }
}

@media (max-width: 400px) {
  label.logo{
    font-size: 20px;
    padding-left: 10px;
  }
  nav ul{
    margin-right: 10px;
  }
  nav a{
    font-size: 14px;
  }
}
.logo .original-logo {
  display: inline-block;
}

/* Hide the alternate logo by default */
.logo .alternate-logo {
  display: none;
  max-height: 60px;
}

@media (max-width: 500px) {
  .logo img.original-logo {
    display: none; /* Hide the original logo */
  }

  .logo img.alternate-logo {
    display: inline-block; /* Display the alternate logo */
  }
}



/******* Content SECTION *******/
.pathwaysbanner{
  background-size: cover;
  background-position: center center;
  height: 40vh;
  width: 100%;
  background-image: url(../images/pathways/process.jpg);
}


#quality-intro {
    padding: 50px 0px;
}

.quality-intro .content {
  background-color: #f6f9ff;
  padding: 40px;
}

.quality-intro h3 {
  font-size: 14px;
  font-weight: 700;
  color: #483285;
  text-transform: uppercase;
  text-align: center;
}

.quality-intro p {
  margin: 15px 0 30px 0;
  line-height: 24px;
  text-align: justify;
  font-size: 19px;
}

.quality-intro img {
    padding: 0px 40px;
}

.top-heading{
  margin: 0 auto;
}
/******* Content SECTION END *******/
  
.services .section-header h3 {
  text-align: left;
  font-weight: 600;
  padding: 10px 0px;
}

.services .section-header p {
  font-weight: 300;
  text-align: left;
  color: black;
  font-size: 19px;
}

.diagram img {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.main_content{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.main-heading {
  text-align: center;
  padding: 20px;
  font-weight: 500;
  color: #483285;
  font-size: 50px;
}

.aboutus p {
  font-size: 19px;
  font-weight: 300;
}

.heading p{
  font-size: 19px;
  font-weight: 300;
}

.aboutus h2{
  font-size: 26px;
}
.heading h2{
  font-size: 26px;
}


/* contact us and footer */

/******* CONTACT-US SECTION *******/
.contactus {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactus .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contactus .title h2 {
  color: #483285;
  font-weight: 500;
  font-size: 50px;
}

.contactus .box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: 
  "form info"
  "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contactus .contact {
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

.contactus .info {
  background: #d95a31;
}

.contactus .box .form {
  grid-area: form;
}

.contactus .box .info {
  grid-area: info;
}

.contactus .box .map {
  grid-area: map;
}

.contact .form h3{
  color: #483285;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* form */

.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  margin-top: 10px;
  color: #483285;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}

.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox input[type="submit"] {
  background: #d95a31;
  color: white;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}

/* info */

.info h3 {
  color: white;
}

.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: white;
  background: #d95a31;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.info .infoBox div p {
  color: white;
  font-size: 1.1em;
}

.info .infoBox div a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

.box .map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

@media(max-width: 991px) {
  .contactus {
    padding: 20px;
  }
  .contactus .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "form"
    "info"
    "map";
  }
  .contactus .box .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .contactus .box .formBox .row50 .inputBox {
    width: 100%;
  }
  .contactus .box .contact {
    padding: 30px;
  }
  .contactus .box .map {
    min-height: 300px;
    padding: 0px;
  }
}


@media (max-width: 400px) {
  #getintouch{
    padding: 0;
  }
  .contactus .box .contact{
    padding: 0;
  }
}
/******* CONTACT-US SECTION END *******/



/******* FOOTER SECTION *******/
.foot {
  padding: 0;
  margin: 0;
}

footer {
  background: #483285;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color .4s ease;
}

.soocials a:hover i{
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
/******* FOOTER END *******/