<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/sq_logo.ico' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Careers | PremiumCAD</title>
</head>
<body>
  <nav>
    <label class="logo">
      <img class="original-logo" src="{% static 'images/Logo_001-removebg-preview.png' %}" alt="PremiumCAD">
      <img class="alternate-logo" src="{% static 'images/logo_mini.png' %}" alt="PremiumCAD">
    </label>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li class="dropdown">
        <a href="services.html">Services</a>
        <ul class="dropdown-content">
          <li class="dropdown-part">
            <a href="cadservices.html">CAD Services</a>
            <ul class="sub-dropdown">
              <li><a href="cadservices.html#one">2D/3D Drafting</a></li>
              <li><a href="cadservices.html#two">Engineering Drawings</a></li>
              <li><a href="cadservices.html#three">BIM</a></li>
            </ul>
          </li>
          <li class="dropdown-part">
            <a href="solardesign.html">Solar Designs</a>
            <ul class="sub-dropdown">
              <li><a href="solardesign.html#one">Residential Drawings</a></li>
              <li><a href="solardesign.html#two">Commercial Designs</a></li>
              <li><a href="solardesign.html#three">Reviews and Stamps</a></li>
            </ul>
          </li>
          <li class="dropdown-part">
            <a href="gisservices.html">GIS Solutions</a>
            <ul class="sub-dropdown">
              <li><a href="gisservices.html#one">Utility Mapping</a></li>
              <li><a href="gisservices.html#two">GIS Mapping</a></li>
              <li><a href="gisservices.html#three">Georeferencing</a></li>
            </ul>
          </li>
          <li class="dropdown-part">
            <a href="telecomservices.html">Telecom Services</a>
            <ul class="sub-dropdown">
              <li><a href="telecomservices.html#one">Small Cell/5G Drafting</a></li>
              <li><a href="telecomservices.html#two">Construction Drawings</a></li>
              <li><a href="telecomservices.html#three">FTTx Network Design</a></li>
            </ul>
          </li>
        </ul>
      </li>
      
      <li><a href="pathways.html">Process</a></li>
      <li><a class="active">Career</a></li>
      <li><a href="blogs.html">Premium Blog</a></li>
      <li><a href="career.html#getintouch">Contact Us</a></li>
    </ul>
    <label id="icon">
      <i class="fa-solid fa-bars"></i>
    </label>
  </nav>

    <div id="main">

        <div id="career_banner"></div>

        <div id="career_content">
            <h1 id="career_heading">
                Where intelligence meets engineering excellence
            </h1>
            <p id="career_content">
                At PremiumCAD, we're driven to build meaningful 
                things, embrace challenging problems and work with 
                technologies we enjoy. We take pride in the largest 
                share of strong middle to senior designers in our 
                company compared to the market average.
                <br>
                That means getting lots of opportunities for geeky 
                conversations with your peers, celebrating being 
                cleverly unconventional and continuously getting 
                better in everything you do. We cultivate inquiring 
                minds and love constantly pushing our boundaries.
            </p>
        </div>

        <div class="jobs-list-container">
            <h1>Join our Awesome Team</h1>
            <br>
            <h2>5 Jobs</h2>
            <br>
            <input class="job-search" type="text" placeholder="Search here..." />
        
            <div class="jobs"></div>
        </div>
    </div>
      <!-- CONTACT US SECTION  -->
  <section id="getintouch" class="getintouch">
    <div class="contactus">
      <div class="title">
        <h2>Lets get in touch.</h2>
      </div>
      <div class="box">
        <div class="contact form">
          <h3 style="color: #1f194c;">Send a message</h3>
          <form>
            <div class="formBox">
              <div class="row50">
                <div class="inputBox">
                  <span>Name</span>
                  <input type="text" placeholder="Enter full name" required>
                </div>
                <div class="inputBox">
                  <span>Company</span>
                  <input type="text" placeholder="Company name" required>
                </div>
              </div>
              <div class="row50">
                <div class="inputBox">
                  <span>Email</span>
                  <input type="email" placeholder="abc@xyz.com" required>
                </div>
                <div class="inputBox">
                  <span>Mobile</span>
                  <input type="number" placeholder="Enter your Mobile No.">
                </div>
              </div>

              <div class="row100">
                <div class="inputBox">
                  <span>Message</span>
                  <textarea placeholder="Write your message here..." required></textarea>
                </div>
              </div>
              <div class="row100">
                <div class="inputBox">
                  <input type="submit" value="Send">
                </div>
              </div>
            </div>
          </form>
        </div>


        <div class="contact info">
          <h3>Contact Us</h3>
          <div class="infoBox">
            <div>
              <span><i class="fa-solid fa-location-dot"></i></span>
              <p>Suite #2243, Doon Business Park, Transport Nagar, Dehradun</p>
            </div>
            <div>
              <span><i class="fa-solid fa-location-dot"></i></span>
              <p>ABL Workspaces, LGF, F2 Sector-8, Noida, India</p>
            </div>
            <div>
              <span><i class="fa-solid fa-envelope"></i></span>
              <a href="mailto:contact@premiumcad.com">contact@premiumcad.com</a>
            </div>
            <div>
              <span><i class="fa-solid fa-phone"></i></span>
              <a href="tel:+919910398768">+91 99103 98768</a>
            </div>
            <div>
              <span><i class="fa-brands fa-linkedin"></i></span>
              <a href="https://in.linkedin.com/company/premiumcad" target="_blank">LinkedIn</a>
            </div>
          </div>
        </div>

        <div class="contact map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.4543585844885!2d77.99022877601061!3d30.281124307317256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39092bb9a413274b%3A0xb94d5b0a63db81e6!2sDoon%20Express%20Business%20Park%20Rd%2C%20Subhash%20Nagar%2C%20Sewla%20Khurd%2C%20Dehradun%2C%20Uttarakhand!5e0!3m2!1sen!2sin!4v1694190298924!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      </div>
    </div>
  </section>
  <!-- CONTACT US END -->


  <!-- FOOTER START -->
  <section id="foot" class="foot">
    <footer>
      <div class="footer-content">
        <h3><span>Premium</span><span>CAD</span></h3>
        <p>Empowering industries with our expertise in CAD, GIS, telecom, and solar designs, driving success through 
          innovation and precision.</p>
        <ul class="socials">
          <li><a href="https://www.linkedin.com/company/premiumcad/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>PremiumCAD &copy; All Rights Reserved</p>
      </div>
    </footer>
  </section>
  <!-- FOOTER END -->

    <!-- JS File -->
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
<script>
    const jobs = [
    {
        title: "Software Engineer",
        image: "images/career/software-engineer.svg",
        details:
        "Responsible for designing, developing and maintaining software systems and applications.",
        openPositions: "2",
        link: "#",
    },

    {
        title: "Data Scientist",
        image: "images/career/data-scientist.svg",
        details:
        "Responsible for collecting, analyzing and interpreting large data sets to help organizations make better decisions.",
        openPositions: "3",
        link: "#",
    },

    {
        title: "Project Manager",
        image: "images/career/project-manager.svg",
        details:
        "Responsible for planning, executing and closing projects on time and within budget.",
        openPositions: "1",
        link: "#",
    },

    {
        title: "Product Manager",
        image: "images/career/product-manager.svg",
        details:
        "Responsible for managing the entire product life cycle, from ideation to launch and post-launch maintenance.",
        openPositions: "1",
        link: "#",
    },

    {
        title: "Sales Representative",
        image: "images/career/sales-representative.svg",
        details:
        "Responsible for reaching out to potential customers and closing sales deals.",
        openPositions: "4",
        link: "#",
    },

    {
        title: "Marketing Manager",
        image: "images/career/marketing-manager.svg",
        details:
        "Responsible for creating and executing marketing strategies to promote a company or product.",
        openPositions: "1",
        link: "#",
    },
    ];

    const jobsHeading = document.querySelector(".jobs-list-container h2");
    const jobsContainer = document.querySelector(".jobs-list-container .jobs");
    const jobSearch = document.querySelector(".jobs-list-container .job-search");

    let searchTerm = "";

    if (jobs.length == 1) {
    jobsHeading.innerHTML = `${jobs.length} Job`;
    } else {
    jobsHeading.innerHTML = `${jobs.length} Jobs`;
    }

    const createJobListingCards = () => {
    jobsContainer.innerHTML = "";

    jobs.forEach((job) => {
        if (job.title.toLowerCase().includes(searchTerm.toLowerCase())) {
        let jobCard = document.createElement("div");
        jobCard.classList.add("job");

        let image = document.createElement("img");
        image.src = job.image;

        let title = document.createElement("h3");
        title.innerHTML = job.title;
        title.classList.add("job-title");

        let details = document.createElement("div");
        details.innerHTML = job.details;
        details.classList.add("details");

        let detailsBtn = document.createElement("a");
        detailsBtn.href = job.link;
        detailsBtn.innerHTML = "More Details";
        detailsBtn.classList.add("details-btn");

        let openPositions = document.createElement("span");
        openPositions.classList.add("open-positions");

        if (job.openPositions == 1) {
            openPositions.innerHTML = `${job.openPositions} open position`;
        } else {
            openPositions.innerHTML = `${job.openPositions} open positions`;
        }

        jobCard.appendChild(image);
        jobCard.appendChild(title);
        jobCard.appendChild(details);
        jobCard.appendChild(detailsBtn);
        jobCard.appendChild(openPositions);

        jobsContainer.appendChild(jobCard);
        }
    });
    };

    createJobListingCards();

    jobSearch.addEventListener("input", (e) => {
    searchTerm = e.target.value;

    createJobListingCards();
    });
</script>
</html>