<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>10 Lessons for your Business during Pandemic | Premium Blog</title>
        <link rel="stylesheet" href="../css/blogpage.css">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
      
        <!-- FAVICON -->
        <link rel="icon" type="image/x-icon" href="images/sq_logo.ico">
    
        <!-- Font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
        <!-- cinzel font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
        <!-- poppins -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@300;400;500;600;700;800;900&display=swap" 
            rel="stylesheet">
    </head>
    <script>
        $(document).ready(function() {
          $('#icon').click(function(){
            $('ul').toggleClass('show');
          })
        })
    </script>
<body>

    <nav>
        <label class="logo">
          <img class="original-logo" src="../images/bluewhitelogo.png" alt="PremiumCAD">
          <img class="alternate-logo" src="../images/invertedlogo.jpg" alt="PremiumCAD">
        </label>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../about.html">About Us</a></li>
          <li><a href="../services.html">Services</a></li>
          <li><a href="../pathways.html">Pathways</a></li>
          <li><a class="active" href="../blog.html">Premium Blog</a></li>
          <li><a href="../blog.html#getintouch">Contact Us</a></li>
        </ul>
        <label id="icon">
          <i class="fa-solid fa-bars"></i>
        </label>
      </nav>


    <div class="blog-container">
        <!-- Blog Header Section -->
        <div class="blog-header">
            <div class="row align-items-center">
                <div class="col-md-10">
                    <h1 class="blog-title">10 Lessons for your Business during Pandemic</h1>
                    <p class="blog-info"><img src="../images/sq_logo.ico" alt="PremiumCAD"> PremiumCAD &#x2022; 23 April &#x2022; 2 min read</p>
                </div>
            </div>
        </div>
        <hr>
        <!-- Blog Content Section -->
        <div class="blog-content">
            <p class="blog-paragraph">
                <b>Stay put on cash, do not invest in mergers and avoidable marketing spends</b> 
                <br>
                Even though some might argue that it is a buyers' market. But take a step back and think. Is it? There are a few sectors which are witnessing an increase in their subscriber base. But Renewable Energy is certainly not one of them. Therefore, what is cheap today, might get cheaper tomorrow. Furthermore, do not add to any new elements of recurring costs associated with an aggressive takeover / acquisition.
                <br>
                Review the market situation and your own liquidity position before getting tempted by the proposition of taking down a business rival. Further, this is not the best time for marketing. Try to sell your media space and curtail all expenses pertaining to development of new (expensive) content. Another way of creatively utilizing this period is to have your marketing team work on trainings and internal hygiene.
                <br>
                <br>
                <b>Invest in employee morale and motivation</b>
                <br>
                Remember your strengths that brought you success during normal business cycles. Your employees are your key assets. A motivated lot will help you recover faster when the business recovers to normal. Committed employees will work at the peak of their efficiencies for extra hours when this lock-down ends. They will generate leads, convert leads to orders and orders to sales at a rate that was never seen before.
                <br> 
                Therefore, salaries and trainings given to employees during this period are likely to generate great returns for the future.
                <br>
                <br>
                <b>Engage with your clients - it costs nothing</b>
                <br>
                With slowdown in new demand and difficulty in conversion of leads to sales, it is always a great opportunity to look at existing customers. Reach out to them for feedback, up-sells, referrals. You will be surprised to see the results.
                <br>
                <br>
                <b>Diversify - look for alternative vendors especially overseas vendors</b>
                <br>
                Are you still stuck in your hometown / state / country? It is time to look for vendors across the globe. Look around at companies and countries that have done well to beat the Corona crisis. Explore vendor tie-ups in the emerging countries and they will provide you with the critical business continuity even as some functions become non-operative in your area of work. 
                <br>
                There is always a neighboring state where business has not come to a standstill. This is the time to explore the un-chartered territory and leverage your global network for delivering the fresh demand.
                <br>
                <br>
                <b>Explore outsourcing partners and strengthen your BCP</b>
                <br>
                Did your outsourcing partner let you down? Most companies have experienced a drop in the service levels and violation of SLAs by their partners. Lack of a BCP or a strong infrastructure has exposed some of the vendors and left you wondering where you went wrong. Do not worry. Just look for partners having stronger BCP. Sounds tough! Then create an alternate vendor partner who will give you a natural back-up in tough times.
                <br>
                <br>
                <b>Reduce fixed recurring costs even at the cost of margins</b>
                <br>
                There are a lot of bargains in the market which contractually bind you for longer period of subscriptions in return of a discount. It is time to review. Go for a higher variable cost per unit rather than a minimum commitment of expense. Get rid of your minimum guarantees on travel bookings, hotel rooms, fleet operators, designing partners etc. and look for vendors who are happy to work with zero fixed commitments.
                <br>
                <br>
                <b>Initiate cost reduction talks with suppliers</b>
                <br>
                A supplier who does not understand the need of the hour is clearly a bad supplier. Engage with your partners and suppliers to explore possibilities of cost reduction. Have them share their cost-sheets with you and review their margins.
                <br>
                Try and renegotiate the operating expenses and absorbed costs for as long as the lockdown continues. This will give you valuable savings for lasting the extra mile.
                <br><br>
                <b>Renegotiate contracts and revise force-majeure definitions</b>
                <br>
                Force-majeure (FM) is a critical clause forming part of all contracts and agreements. If you are already beyond the stage where you can make regular payments, then this is not for you. However, those who are planning proactively to avoid cash crunch, they must quickly reach out to their vendors for revision of conditions where FM shall apply.
                <br>
                Further, try and ensure that FM invocation should not have the effect of terminating your contracts. You still want to do business. Therefore, redraft your contracts and service agreements to give you that extra leverage of delaying payment / affording differed payments, non-payment of minimum guarantee amounts, rental payments etc.
                <br>
                <br>
                <b>Plan for the worst case</b>
                <br>
                Even though we all hope for a better tomorrow, it is most prudent to plan for the worst. Have your CFO build alternative scenarios and project business continuity in each of the cases. You should have ready plans and scenarios for business continuity of at-least six months without any cash flow visibility. You will be surprised to see how a disciplined and prepared finance organization can emerge victorious against the most operationally effective firm during these critical times.
                <br>
                <br>
                <b>Have another look at your Balance Sheet for Cash Flows</b>
                You might actually be surprised how your balance sheet is sitting on a pile of cash. All that is needed is to get creative. There are several aged debtors who have been waiting for a discount / settlement offer. Un-reconciled accounts leading to payment delays / disputes require just the extra push. Long term investments must be liquidated or kept handy for borrowing overdrafts. Then there is always a long unsold inventory, take a decision to scrap it or realise discounted prices. This is the time to go back to the basic lessons in the Finance Classes where you were taught the importance of cash-flow over profitability. 
                <br>
                It is actually a good time to take the brave decision of offering discounts, writing off unrecoverable balances, scrapping inventories & idle assets. The exceptional one-time losses will not irk the investors, auditors and revenue department during this crisis. All you need to remember is what does not kill you will make you stronger!
            </p>
        </div>
    </div>
    
    <div class="recent-posts">
        <div class="recent-heading">
            <h2>Recent Posts</h2>
        </div>
        <div class="recent-button">
            <a href="../blog.html" class="btn btn-primary">See All</a>
        </div>
    </div>
    
    <div class="blog-recent">
        <!-- box1 -->
        <div class="blog-box">
            <!-- image -->
            <div class="blog-img">
                <img src="../images/blog/blogimg1.jpg" alt="img loading">
            </div>
            <!-- text -->
            <div class="blog-text">
                <span>1 July 2023 | PremiumCAD</span>
                <a href="../blogs/blog1.html" class="blog-title">Solar PV Design Services: What You Need To Know</a>
                <p>Solar PV design services are a critical part of any solar project. An experiencd solar design company will 
                    efficiently assess your needs, site, and budget to create a custom solar system that meets your specific requirements.
                </p>
                <a href="../blogs/blog1.html">Read More</a>
            </div>
        </div>
        
        <!-- box2 -->
        <div class="blog-box">
            <!-- image -->
            <div class="blog-img">
                <img src="../images/blog/blogimg2.jpeg" alt="img loading">
            </div>
            <!-- text -->
            <div class="blog-text">
                <span>21 June 2023 | PremiumCAD</span>
                <a href="../blogs/blog2.html" class="blog-title">Simplifying Solar Permits: Streamlining the Path to Renewable Energy</a>
                <p>
                    In the quest for sustainable and clean energy solutions, solar power has emerged as a game-changer. 
                    As more individuals and businesses embrace solar energy, one crucial aspect that often poses challenges 
                    is obtaining the necessary permits. Solar permit services play a vital role in simplifying the process, 
                    ensuring compliance with regulations, and accelerating the adoption of solar power. In this blog post, 
                    we will delve into the significance of solar permit services and how they facilitate the transition 
                    to renewable energy.
                </p>
                <a href="../blogs/blog2.html">Read More</a>
            </div>
        </div>
    </div>

    <!-- FOOTER START -->
  <section id="foot" class="foot">
    <footer>
      <div class="footer-content">
        <h3><span>Premium</span><span>CAD</span></h3>
        <p>Empowering industries with our expertise in CAD, GIS, telecom, and solar designs, driving success through 
          innovation and precision.</p>
        <ul class="socials">
          <li><a href="https://www.linkedin.com/company/premiumcad/"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>PremiumCAD &copy; All Rights Reserved</p>
      </div>
    </footer>
  </section>
  <!-- FOOTER END -->
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>