<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">

    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" 
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" 
          integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" 
          crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&display=swap" 
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/sq_logo.ico' %}">

    <!-- CSS FILE -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <title>Services | PremiumCAD</title>
</head>
<script>
  $(document).ready(function() {
    $('#icon').click(function(){
      $('ul').toggleClass('show');
    })
  })
</script>
<body>

  <!-- HEADING -->

  <nav>
    <label class="logo">
      <img class="original-logo" src="{% static 'images/Logo_001-removebg-preview.png' %}" alt="PremiumCAD">
      <img class="alternate-logo" src="{% static 'images/invertedlogo.jpg' %}" alt="PremiumCAD">
    </label>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li class="dropdown">
        <a class="active">Services</a>
      </li>
      <li><a href="pathways.html">Pathways</a></li>
      <li><a href="blog.html">Premium Blog</a></li>
      <li><a href="services.html#getintouch">Contact Us</a></li>
    </ul>
    <label id="icon">
      <i class="fa-solid fa-bars"></i>
    </label>
  </nav>

  <section class="servicebanner"></section>

  <section>
    <div class="row gy-4">
      <div class="top-content">
        <h1 class="main-heading">Expertise and Offerings</h1>
        <p class="main-para">
          At <strong>PremiumCAD</strong>, we have perfected the skill of providing timely and accurate solutions to our global clientele 
          in the fields of CAD, GIS, PV Installation designs and Telecom Installations.
          <br>
          <br>
          We are not just an outsourcing partner, but also a knowledge partner. Several clients pick 
          our designs and off-the-shelf templates over their own designs.
          <br>
          <br>
          We offer the most competitive pricing across all categories of services. We deliver what we commit. 
          Our Six Sigma quality process ensures that we can deliver designs as per agreed parameters and 
          quality SLAs. Our offices work round the clock to ensure you get next day delivery. Team size and 
          capacity planning can be scaled up with a month's notice and we take care of recruitment, training and attrition.
        </p>
      </div>
    </div>
  </section>

  <section id="solar-services" class="services">
    <div class="container">
      <div class="section-header">
        <h3>1. Solar Design Services</h3>
        <p>At PremiumCAD, we have been working with various Solar Installers and contractors for over a decade, 
          providing them end-to-end solution for Solar PV design services. We have in-depth knowledge of 
          state/AHJ requirements and have been maintaining a high first-time approval rate. The various 
          touchpoints/contributions of PremiumCAD includes:
          <br>
          <ul>
            <li>Creation of <strong>proposal drawings</strong> including financial analysis.</li>
            <li>Creation of <strong>Residential Solar Permit Plan set</strong> for PTI(Permission to install).</li>
            <li>Engineering reviews by <strong>Professional Engineers</strong>.</li>
            <li>As built drawings to procure <strong>PTO</strong>.</li>
          </ul>
        </p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-box red">
            <i class="fa-solid fa-house icon"></i>
            <h3> RESIDENTIAL </h3>
            <p>Teams at PremiumCAD have extensive experience and knowledge in designing Residential Solar Permit Plan. 
                We work with our customers to provide end-to-end solution for their residential PV plan requirements 
                starting right from Proposal creation to Permit Set creation, Engineering Review and As-Built creation. 
            </p>
            <a href="services/solardesign.html" class="read-more"><span>Read More</span> 
            <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-box purple">
            <i class="fa-solid fa-briefcase icon"></i>
              <h3> COMMERCIAL </h3>
              <p>We have successfully designed several commercial projects (1mW to 5mW) with different types 
                for racking systems on roof, carports and ground mounts. We are equipped to prepare the PV 
                array layouts, mounting details, BOS Elevations shading analysis, Electrical 3 line and single 
                line diagrams etc.
              </p>
              <a href="services/solardesign.html" class="read-more"><span>Read More</span> 
              <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
          <div class="service-box pink">
            <i class="fa-solid fa-users-gear icon"></i>
              <h3> ENGINEERING </h3>
              <p>PremiumCAD, through its network, provide Electrical & Structural Professional Engineering (PE) 
                stamps for all 50 states.  Construction plans with PE stamps give customers added assurance 
                that their solar and storage projects have been safely designed and engineered to the codes 
                and standards of your state and jurisdiction.
              </p>
              <a href="services/solardesign.html" class="read-more"><span>Read More</span> 
                <i class="bi bi-arrow-right"></i>
              </a>
          </div>
        </div>
      </div>
    </div>
</section>

<section id="telecom-services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3>2. Telecom Services</h3>
      <p>
        PremiumCAD has a long standing experience in supporting the global telecommunications industry 
        through different types of services. One of these involves the update of wireless telecom construction 
        drawings. Wireless telecom towers would need to be upgraded or modified based on the changes in mobile 
        telecom technology. These changes in the tower infrastructure should also be professionally reported 
        and updated in the telecom operator's records as well. Hence in order to identify and update such changes, 
        and to verify the tower's capacity, availability of space etc., a ground survey team visits the premises 
        of each telecom tower to collect and digitally record the on-site information. Based on these records, 
        photographs and other survey inputs, each tower information is updated, thereby enabling the decision 
        support systems of the telecom operator.
      </p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-box red">
          <i class="fa-solid fa-signal icon"></i>
          <h3>Small Cell/5G Drafting</h3>
          <p>
            PremiumCAD's Telecom A&E design team has successfully worked on hundreds of Small Cell 
            Sites for various telecom carriers across North America through our engineering design 
            & installation partners.
          </p>
          <a href="services/telecomservices.html" class="read-more"><span>Read More</span> 
          <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-box purple">
          <i class="fa-solid fa-compass-drafting icon"></i>
            <h3>Telecom Construction Drawings</h3>
            <p>
              PremiumCAD started creating the construction drawings (4G/LTE Upgrade) in the telecom 
              industry with a project of 500 antenna upgrades for one of the biggest telecom carriers 
              in 2016. Since then, we have successfully handled numerous antenna installations projects 
              for almost all the Telco carriers across the US.
            </p>
            <a href="services/telecomservices.html" class="read-more"><span>Read More</span> 
            <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
        <div class="service-box pink">
          <i class="fa-solid fa-network-wired icon"></i>
            <h3>
              FTTx Network Design
              (OSP/ISP)
            </h3>
            <p>
              PremiumCAD has rich expertise and deep domain knowledge in FTTx network designing and drafting. 
              We have worked and are working with a number of customers in US and Australia on FTTx Network 
              design projects. We have experience in FTTH Fiber-to-the-Home networks, OSP in Greenfield & 
              Brownfield projects and permit plan sets.
            </p>
            <a href="services/telecomservices.html" class="read-more"><span>Read More</span> 
              <i class="bi bi-arrow-right"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="gis-services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3>3. GIS Services</h3>
      <p>
        A geographic information system (GIS) is a system designed to capture, store, manipulate, analyze, manage, 
        and present spatial or geographic data; for that reason, GIS and location intelligence applications can be 
        the foundation for many location-enabled services that rely on analysis and visualization.
        <br>
        <br>
        PremiumCAD enables clients to capture, sort, and interpret spatial and geographic data that's critical to 
        their businesses and present it on interactive maps. A well-built Geographic Information System (GIS) allows 
        organizations and institutions to uncover actionable from location data, map layers, and 3D modeling. 
        PremiumCAD engineers provide consulting and GIS software services covering precision mapping and spatial 
        data management to recognize geographical patterns visible only through GIS mapping solutions.
      </p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-box red">
          <i class="fa-solid fa-circle-nodes icon"></i>
          <h3>Utility Mapping</h3>
          <p>
            Over the years we have built up considerable expertise in data capture for utility mapping as 
            well as interpreting and digitizing information on many types of utility lines.
          </p>
          <a href="services/gisservices.html" class="read-more"><span>Read More</span> 
          <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-box purple">
          <i class="fa-solid fa-map-location-dot icon"></i>
            <h3>GIS Mapping</h3>
            <p>
              The GIS services rendered by PremiumCAD facilitate visualization of geographic data, 
              analysis of spatial relationships, and effective data management.
            </p>
            <a href="services/gisservices.html" class="read-more"><span>Read More</span> 
            <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
        <div class="service-box pink">
          <i class="fa-solid fa-earth-asia icon"></i>
            <h3>Geo-Referencing & Geo-Coding</h3>
            <p>
              Geo-Coding is the process of transforming a description of a location such 
              as a pair of coordinates, an address or a name of a place to a location on the earth's surface.
            </p>
            <a href="services/gisservices.html" class="read-more"><span>Read More</span> 
              <i class="bi bi-arrow-right"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cad-services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3>4. CAD Services</h3>
      <p>
        A geographic information system (GIS) is a system designed to capture, store, manipulate, analyze, manage, 
        and present spatial or geographic data. ... For that reason, GIS and location intelligence applications 
        can be the foundation for many location-enabled services that rely on analysis and visualization.
        <br>
        <br>
        PremiumCAD enables clients to capture, sort, and interpret spatial and geographic data that's critical 
        to their businesses and present it on interactive maps. A well-built Geographic Information System (GIS) 
        allows organizations and institutions to uncover actionable from location data, map layers, and 3D modeling. 
        PremiumCAD engineers provide consulting and GIS software services covering precision mapping and spatial data 
        management to recognize geographical patterns visible only through GIS mapping solutions.
      </p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-box red">
          <i class="fa-solid fa-pen-ruler icon"></i>
          <h3>2D/3D Drafting</h3>
          <p>
            We provide modelling services for customers moving from the 2D to the 3D world. We can assist you 
            in re-creating and converting your sketches, ideas and drawing concepts to accurate, hi-quality, 
            detailed 3D Models.
          </p>
          <a href="services/cadservices.html" class="read-more"><span>Read More</span> 
          <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-box purple">
          <i class="fa-solid fa-compass-drafting icon"></i>
            <h3>Engineering Drawings</h3>
            <p>
              PremiumCAD specializes in providing offshore structural design & drafting and structural steel 
              detailing services to clients across the Globe.
            </p>
            <a href="services/cadservices.html" class="read-more"><span>Read More</span> 
            <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
        <div class="service-box pink">
          <i class="fa-solid fa-building icon"></i>
            <h3>Building Information Modeling</h3>
            <p>
              BIM services is a new way of approaching the design and documentation of various types of building projects. 
              It is an intelligent digital representation of physical and functional characteristics of a facility.
            </p>
            <a href="services/cadservices.html" class="read-more"><span>Read More</span> 
              <i class="bi bi-arrow-right"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</section>





  <!-- contact for amd footer -->
  <!-- CONTACT US SECTION  -->
  <section id="getintouch" class="getintouch">
    <div class="contactus">
      <div class="title">
        <h2>Lets get in touch.</h2>
      </div>
      <div class="box">
        <div class="contact form">
          <h3 style="color: #1f194c;">Send a message</h3>
          <form>
            <div class="formBox">
              <div class="row50">
                <div class="inputBox">
                  <span>First Name</span>
                  <input type="text" placeholder="Your first name" required>
                </div>
                <div class="inputBox">
                  <span>Last Name</span>
                  <input type="text" placeholder="Your last name" required>
                </div>
              </div>
              <div class="row50">
                <div class="inputBox">
                  <span>Email</span>
                  <input type="email" placeholder="abc@xyz.com" required>
                </div>
                <div class="inputBox">
                  <span>Mobile</span>
                  <input type="number" placeholder="Enter your Mobile No.">
                </div>
              </div>

              <div class="row100">
                <div class="inputBox">
                  <span>Message</span>
                  <textarea placeholder="Write your message here..." required></textarea>
                </div>
              </div>
              <div class="row100">
                <div class="inputBox">
                  <input type="submit" value="Send">
                </div>
              </div>
            </div>
          </form>
        </div>


        <div class="contact info">
          <h3>Contact Us</h3>
          <div class="infoBox">
            <div>
              <span><i class="fa-solid fa-location-dot"></i></span>
              <p>Suite #2243, Doon Business Park, Transport Nagar, Dehradun, India</p>
            </div>
            <div>
              <span><i class="fa-solid fa-location-dot"></i></span>
              <p>ABL Workspaces, LGF, F2 Sector-8, Noida, India</p>
            </div>
            <div>
              <span><i class="fa-solid fa-envelope"></i></span>
              <a href="mailto:contact@premiumcad.com">contact@premiumcad.com</a>
            </div>
            <div>
              <span><i class="fa-solid fa-phone"></i></span>
              <a href="tel:+919910398768">+91 99103 98768</a>
            </div>
            <div>
              <span><i class="fa-brands fa-linkedin"></i></span>
              <a href="https://in.linkedin.com/company/premiumcad" target="_blank">LinkedIn</a>
            </div>
          </div>
        </div>

        <div class="contact map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.4543585844885!2d77.99022877601061!3d30.281124307317256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39092bb9a413274b%3A0xb94d5b0a63db81e6!2sDoon%20Express%20Business%20Park%20Rd%2C%20Subhash%20Nagar%2C%20Sewla%20Khurd%2C%20Dehradun%2C%20Uttarakhand!5e0!3m2!1sen!2sin!4v1694190298924!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      </div>
    </div>
  </section>
  <!-- CONTACT US END -->


  <!-- FOOTER START -->
  <section id="foot" class="foot">
    <footer>
      <div class="footer-content">
        <h3><span>Premium</span><span>CAD</span></h3>
        <p>Empowering industries with our expertise in CAD, GIS, telecom, and solar designs, driving success through 
          innovation and precision.</p>
        <ul class="socials">
          <li><a href="https://www.linkedin.com/company/premiumcad/?originalSubdomain=in" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>PremiumCAD &copy; All Rights Reserved</p>
      </div>
    </footer>
  </section>
  <!-- FOOTER END -->

  <!-- glightbox cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js" 
          integrity="sha512-S/H9RQ6govCzeA7F9D0m8NGfsGf0/HjJEiLEfWGaMCjFzavo+DkRbYtZLSO+X6cZsIKQ6JvV/7Y9YMaYnSGnAA==" 
          crossorigin="anonymous" 
          referrerpolicy="no-referrer"></script>

  <!-- JQuery-Isotope cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" 
          integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew==" 
          crossorigin="anonymous" 
          referrerpolicy="no-referrer"></script>

  <!-- JS File -->
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>